.container {
    width: 90%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .providers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .providers-table th,
  .providers-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
  }
  
  .providers-table th {
    background-color: #f2f2f2;
  }
  
  .edit-button,
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .back-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }