footer {
  background-color: rgba(168, 167, 165, 0.836);
  padding: 20px;
  position: relative;
  height: auto; /* Ajuste de altura en pantallas pequeñas */
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row; /* Cambia a columna en pantallas pequeñas */
  height: 100%;
  position: relative;
}

.footer-content p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.faq-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.faq-link .help-icon {
  width: 50px;
  height: auto;
  margin-bottom: 5px;
}

.faq-link span {
  font-size: 12px;
}

/* Media Query para Pantallas Medianas (Tablet) */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Cambiar a columna en pantallas medianas */
    align-items: center;
    text-align: center;
  }

  .faq-link {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  .faq-link .help-icon {
    width: 40px; /* Ajustar tamaño del ícono */
  }

  .faq-link span {
    font-size: 14px; /* Aumentar tamaño de fuente */
  }
}

/* Media Query para Pantallas Pequeñas (Móviles) */
@media (max-width: 480px) {
  .footer-content p {
    font-size: 12px; /* Reducir tamaño de fuente en dispositivos móviles */
  }

  .faq-link .help-icon {
    width: 35px; /* Ajuste de tamaño del ícono */
  }

  .faq-link span {
    font-size: 12px;
  }
}
