<app-header-superadmin></app-header-superadmin>
<div id="screenMiddle">
  <img
    src="../../../assets/images/logo-ContaCol-letras.png"
    alt="Logo de ContaCol"
  />
  <h2>Usuarios</h2>

  <!-- Spinner de Bootstrap para el loader -->
  <div *ngIf="loading" class="d-flex justify-content-center my-4">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <!-- Mostrar mensaje de error si existe -->
  <div *ngIf="error">{{ error }}</div>

  <div id="tableContainer" *ngIf="!loading && !error">
    <!-- Contenedor para búsqueda y botón -->
    <div class="search-container">
      <!-- Barra de búsqueda -->
      <input
        class="search-bar"
        type="text"
        placeholder="Buscar usuario"
        [(ngModel)]="searchTerm"
        (input)="filterUsers()"
      />

      <!-- Botón de Crear Usuario que muestra el modal -->
      <button class="create-user-btn" (click)="openModal()">Nuevo</button>
    </div>

    <!-- Tabla de usuarios -->
    <div class="table-responsive">
      <table class="user-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td class="actions">
              <i
                class="bi bi-eye-fill"
                [ngClass]="{
                  'active-icon': user.state,
                  'inactive-icon': !user.state
                }"
                (click)="changeUserState(user, true)"
              ></i>
              <i
                class="bi bi-eye-slash-fill"
                [ngClass]="{
                  'active-icon': !user.state,
                  'inactive-icon': user.state
                }"
                (click)="changeUserState(user, false)"
              ></i>
            </td>
            <td class="actions">
              <!-- Hacer clic en el icono de edición abre el modal de edición -->
              <i
                class="bi bi-pencil-fill"
                style="cursor: pointer"
                (click)="openEditModal(user)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para el formulario de registro/edición -->
  <div *ngIf="isModalOpen" class="modal show">
    <div class="modal-content">
      <i class="bi bi-x-square close-icon" (click)="closeModal()"></i>

      <!-- Componente del formulario de registro o edición de usuarios -->
      <app-user-register-form
        [user]="selectedUser"
        (userRegistered)="onUserRegistered()"
        (userEdited)="onUserEdited()"
      ></app-user-register-form>
    </div>
  </div>
</div>
<app-footer></app-footer>
