<div id="screenMiddle">
  <img
    src="../../../assets/images/logo-ContaCol-letras.png"
    alt="Logo de ContaCol"
  />
  <h2>Usuarios</h2>
  <div id="tableContainer">
    <!-- Contenedor para búsqueda y botón -->
    <div class="search-container">
      <!-- Barra de búsqueda -->
      <input class="search-bar" type="text" placeholder="Buscar usuario" />

      <!-- Botón de Crear Usuario que muestra el modal -->
      <button class="create-user-btn" (click)="openModal()">Nuevo</button>
    </div>

    <!-- Tabla de usuarios -->
    <div class="table-responsive">
      <table *ngIf="!loading && !error" class="user-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td class="actions">
              <i
                class="bi bi-eye-fill"
                [ngClass]="{
                  'active-icon': user.state,
                  'inactive-icon': !user.state
                }"
                (click)="changeUserState(user, true)"
              ></i>
              <i
                class="bi bi-eye-slash-fill"
                [ngClass]="{
                  'active-icon': !user.state,
                  'inactive-icon': user.state
                }"
                (click)="changeUserState(user, false)"
              ></i>
            </td>
            <td class="actions">
              <i class="bi bi-pencil-fill" style="cursor: pointer"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para el formulario de registro -->
  <div *ngIf="isModalOpen" class="modal show">
    <div class="modal-content">
      <!-- Icono para cerrar el modal -->
      <i class="bi bi-x-square close-icon" (click)="closeModal()"></i>

      <!-- Componente del formulario de registro de usuarios -->
      <app-user-register-form
        (userRegistered)="onUserRegistered()"
      ></app-user-register-form>
    </div>
  </div>
</div>
