<h2>Nuevo comprobante</h2>
<div id="invoiceFormContainer">
  <form id="invoiceForm" [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <!-- Primera columna -->
    <div class="form-item" style="grid-area: comprobante">
      <label for="comprobante"># de comprobante</label>
      <input type="text" id="comprobante" formControlName="invoice" />
    </div>

    <div class="form-item" style="grid-area: razonSocial">
      <label for="razonSocial">Razón Social</label>
      <input type="text" id="razonSocial" formControlName="third_party" />
    </div>

    <div class="form-item" style="grid-area: impuestos">
      <label for="impuestos">Impuestos</label>
      <input type="text" id="impuestos" formControlName="taxes_total" />
    </div>

    <div class="form-item" style="grid-area: tipoComprobante">
      <label for="tipoComprobante">Tipo de Comprobante</label>
      <select id="tipoComprobante" formControlName="invoice_type">
        <option value="Factura electrónica">Factura electrónica</option>
        <option value="Cuenta de cobro">Cuenta de cobro</option>
        <option value="Recibo de caja menor">Recibo de caja menor</option>
        <option value="Recaudo">Recaudo</option>
        <option value="Nota crédito">Nota crédito</option>
        <option value="Recibo">Recibo</option>
        <option value="Otro">Otro (anotar en observación)</option>
      </select>
    </div>

    <div class="form-item" style="grid-area: monto">
      <label for="monto">Monto</label>
      <input type="text" id="monto" formControlName="invoice_total" />
    </div>

    <!-- Segunda columna -->
    <div class="form-item" style="grid-area: fechaEmision">
      <label for="fechaEmision">Fecha de Emisión</label>
      <input type="date" id="fechaEmision" formControlName="issue_date" />
    </div>

    <div class="form-item" style="grid-area: departamento">
      <label for="departamento">Departamento</label>
      <input type="text" id="departamento" formControlName="department" />
    </div>

    <div class="form-item" style="grid-area: reteFuente">
      <label for="reteFuente">Rete Fuente</label>
      <input type="text" id="reteFuente" formControlName="rte_fuente" />
    </div>

    <div class="form-item" style="grid-area: formaPago">
      <label for="formaPago">Forma de Pago</label>
      <select id="formaPago" formControlName="payment_way">
        <option value="Cuentas por pagar">Cuentas por pagar (CxP)</option>
        <option value="Reembolsado">Reembolsado (Rembol)</option>
        <option value="Cuentas por cobrar">Cuentas por cobrar (CxC)</option>
        <option value="Pendiente verificar origen">
          Pendiente verificar origen (PVO)
        </option>
      </select>
    </div>

    <div class="form-item" style="grid-area: estado">
      <label for="estado">Estado</label>
      <select id="estado" formControlName="invoice_status">
        <option value="Pagado">Pagado</option>
        <option value="Por pagar / verificado">Por pagar / verificado</option>
        <option value="Pendiente verificar">Pendiente verificar</option>
      </select>
    </div>

    <!-- Tercera columna -->
    <div class="form-item" style="grid-area: fechaVencimiento">
      <label for="fechaVencimiento">Fecha de Vencimiento</label>
      <input type="date" id="fechaVencimiento" formControlName="due_date" />
    </div>

    <div class="form-item" style="grid-area: municipio">
      <label for="municipio">Municipio/Ciudad</label>
      <input type="text" id="municipio" formControlName="city" />
    </div>

    <div class="form-item" style="grid-area: reteIVA">
      <label for="reteIVA">Rete IVA</label>
      <input type="text" id="reteIVA" formControlName="rte_iva" />
    </div>

    <div class="form-item" style="grid-area: medioPago">
      <label for="medioPago">Medio de Pago</label>
      <select id="medioPago" formControlName="payment_method">
        <option value="Banco (empresa)">Banco (empresa)</option>
        <option value="JMA Cjm">
          JMA Cjm (Caja menor de Juan Manuel Ariza)
        </option>
        <option value="AG Cjm">AG Cjm (Caja menor de A…G…)</option>
        <option value="Indefinido (pendiente)">
          Indefinido (pendiente) (PDT)
        </option>
        <option value="Otro">Otro</option>
      </select>
    </div>

    <!-- Cuarta columna -->
    <div class="form-item" style="grid-area: valorPagado">
      <label for="valorPagado">Valor Pagado</label>
      <input type="text" id="valorPagado" formControlName="paid_value" />
    </div>

    <div class="form-item" style="grid-area: reteICA">
      <label for="reteICA">Rete ICA</label>
      <input type="text" id="reteICA" formControlName="rte_ica" />
    </div>

    <div class="form-item" style="grid-area: descripcion">
      <label for="descripcion">Descripción</label>
      <input type="text" id="descripcion" formControlName="description" />
    </div>

    <div class="form-item" style="grid-area: pago">
      <label for="pago">Fecha de Pago</label>
      <input type="date" id="pago" formControlName="payment_date" />
    </div>

    <div class="form-item" style="grid-area: observaciones">
      <label for="observaciones">Observaciones</label>
      <textarea
        id="observaciones"
        formControlName="observation"
        rows="4"
      ></textarea>
    </div>

    <!-- Botones de cargar comprobante y factura -->
    <div class="load-buttons-container">
      <button type="button" class="load-invoice-btn" (click)="pdfInput.click()">
        Cargar comprobante <i class="bi bi-receipt-cutoff"></i>
      </button>
      <button type="button" class="load-invoice-btn" (click)="pdfInput.click()">
        Cargar factura <i class="bi bi-filetype-pdf"></i>
      </button>
      <input
        type="file"
        #pdfInput
        style="display: none"
        (change)="onFileSelected($event)"
        accept=".pdf"
      />
    </div>

    <!-- Botones de enviar el formulario -->
    <div class="form-submit">
      <button type="button" class="cancel-btn">Cancelar</button>
      <button type="submit" class="accept-btn">Aceptar</button>
    </div>
  </form>
</div>
