/* Contenedor del formulario de comprobantes */
#invoiceFormContainer {
  background-color: #f6f7f9;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  border-radius: 8px; /* Bordes redondeados del contenedor */
}

/* Grid para el formulario */
#invoiceForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-areas:
    "comprobante fechaEmision fechaVencimiento proveedor"
    "razonSocial departamento municipio ."
    "impuestos reteFuente reteIVA reteICA"
    "tipoComprobante formaPago medioPago retenciones"
    "monto estado observaciones observaciones"
    ". . observaciones observaciones"; /* Observaciones ocupa la columna 3 y 4 */
  grid-gap: 20px;
  padding: 20px;
}

/* Estilo general de los inputs */
.form-item input,
.form-item select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid black; /* Bordes negros */
  border-radius: 8px; /* Bordes redondeados */
  box-sizing: border-box;
}

/* Asegurar que el textarea de observaciones tenga el mismo estilo */
#observaciones {
  grid-column: 3 / span 2; /* Observaciones ocupa las columnas 3 y 4 */
  grid-area: observaciones;
  width: 100%;
  padding: 10px;
  border: 2px solid black; /* Bordes negros */
  border-radius: 8px; /* Bordes redondeados */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
  resize: none; /* Deshabilita el redimensionamiento del textarea */
}

/* Centramos el título */
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Botón de cerrar en la esquina superior derecha */
.close-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Botones de cargar comprobante y factura */
.load-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.load-buttons-container button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #022c5e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.load-buttons-container button i {
  margin-left: 10px;
}

.load-buttons-container button:hover {
  background-color: #011d3e;
}

/* Botones de cancelar y aceptar alineados a la derecha */
.form-submit {
  display: flex;
  justify-content: flex-end; /* Alineamos los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  grid-column: span 4;
}

.cancel-btn {
  background-color: white;
  border: 2px solid #022c5e;
  color: #022c5e;
  padding: 10px 40px;
  border-radius: 8px; /* Bordes redondeados */
}

.cancel-btn:hover {
  background-color: #f6f7f9;
}

.accept-btn {
  background-color: #022c5e;
  color: white;
  padding: 10px 40px;
  border-radius: 8px; /* Bordes redondeados */
  border: none;
}

.accept-btn:hover {
  background-color: #011d3e;
}

/* Estilos responsive */
@media (max-width: 768px) {
  #invoiceForm {
    grid-template-columns: 1fr;
    grid-template-areas:
      "comprobante"
      "razonSocial"
      "impuestos"
      "tipoComprobante"
      "monto"
      "fechaEmision"
      "departamento"
      "reteFuente"
      "formaPago"
      "estado"
      "fechaVencimiento"
      "municipio"
      "reteIVA"
      "medioPago"
      "proveedor"
      "reteICA"
      "retenciones"
      "observaciones";
  }

  .form-item-large {
    grid-column: span 1;
  }

  .form-submit {
    justify-content: center; /* Alineación centrada en pantallas pequeñas */
  }

  .button-container {
    justify-content: center;
  }
}
