<body>
  <div id="screenMiddle">
    <form [formGroup]="userRegister" (ngSubmit)="onSubmit()">
      <div id="formColor">
        <div class="formDivider">
          <label for="name">Nombre:</label>
          <input
            id="name"
            formControlName="name"
            type="text"
            placeholder="Ingrese nombre de usuario"
          />
        </div>
        <div class="formDivider">
          <label for="email">Email:</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            placeholder="Ingrese email"
          />
        </div>

        <div class="formDivider">
          <label for="password">Contraseña:</label>
          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              id="password"
              placeholder="Ingrese contraseña"
            />
            <i
              class="bi"
              [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
              (click)="togglePasswordVisibility()"
            ></i>
          </div>
        </div>

        <div class="formDivider">
          <label for="confirmPassword">Verificar contraseña:</label>
          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              id="confirmPassword"
              placeholder="Ingrese contraseña"
            />
            <i
              class="bi"
              [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
              (click)="togglePasswordVisibility()"
            ></i>
          </div>
        </div>

        <div class="formDivider">
          <label for="role">Rol:</label>
          <select formControlName="role" id="role">
            <option value="admin">Administrador</option>
            <option value="accountant">Contador</option>
          </select>
        </div>
      </div>
      <button id="submit" type="submit">Finalizar</button>
    </form>
  </div>
</body>
