<div class="go-back-container">
  <button class="go-back" (click)="reloadPage()">
    <i class="bi bi-arrow-left"></i> Volver
  </button>
</div>
<div class="container" [class.container-disabled]="showForm">
  <div class="header">
    <input
      type="text"
      placeholder="Buscar proveedor"
      class="search-input"
      [(ngModel)]="searchQuery"
      (input)="filterSuppliers()"
    />
    <button class="add-button" (click)="toggleForm()">Agregar Proveedor</button>
  </div>

  <div class="table-responsive">
    <table class="providers-table">
      <thead>
        <tr>
          <th>Tercero</th>
          <th>NIT</th>
          <th>Teléfono</th>
          <th>e-mail</th>
          <th>Ciudad/Municipio</th>
          <th>Departamento</th>
          <th>Editar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let element of filteredSuppliers; let i = index">
          <td>{{ element.thirdParty }}</td>
          <td>{{ element.nit }}</td>
          <td>{{ element.phone }}</td>
          <td>{{ element.email }}</td>
          <td>{{ element.city }}</td>
          <td>{{ element.department }}</td>
          <td>
            <button class="edit-button" (click)="openForm(element)">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="delete-button" (click)="confirmDelete(element)">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Popup de formulario -->
  <div *ngIf="showForm">
    <div class="form-overlay"></div>
    <div class="form-container">
      <button class="close-btn" (click)="toggleForm()">&times;</button>
      <app-supplier-form
        [supplier]="selectedSupplier"
        (formClosed)="handleFormClosed()"
      ></app-supplier-form>
    </div>
  </div>

  <!-- Diálogo de confirmación de eliminación -->
  <div *ngIf="showConfirmDelete" class="confirm-dialog">
    <p>
      ¿Estás seguro de eliminar al proveedor {{ supplierToDelete?.thirdParty }}?
    </p>
    <div class="button-group">
      <button class="confirm-button" (click)="deleteSupplier()">Sí</button>
      <button class="cancel-button" (click)="cancelDelete()">No</button>
    </div>
  </div>
</div>
<div class="go-back-container">
  <button class="go-back" (click)="reloadPage()">
    <i class="bi bi-arrow-left"></i> Volver
  </button>
</div>
