/* Grid para el formulario */
#invoiceForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "comprobante fechaEmision fechaVencimiento pago"
    "tercero departamento municipio proveedor"
    "impuestos reteFuente reteIVA reteICA"
    "tipoComprobante formaPago medioPago estado"
    "monto descripcion observaciones observaciones"
    "valorPagado . observaciones observaciones";
  grid-gap: 20px;
  padding: 20px;
  padding-top: 10px;
  position: relative;
  width: 100%;
  height: auto;
}

/* Estilo general de los inputs */
.form-item input,
.form-item select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Ocultar las flechas de los campos de tipo numer */
.form-item input[type=number]::-webkit-inner-spin-button,
.form-item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.required {
  color: red;
}

#observaciones {
  grid-column: 3 / span 2;
  grid-area: observaciones;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  resize: none;
}

/* Centramos el título */
h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Botón de cerrar en la esquina superior derecha */
.close-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Botones de cargar comprobante y factura alineados a la derecha */
.load-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  position: relative;
}

.load-buttons-container button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #022c5e;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 20px;
}

.load-buttons-container button i {
  margin-left: 10px;
}

.load-buttons-container button:hover {
  background-color: #011d3e;
}

/* Texto de factura/comprobante cargado */
.file-names {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

/* Botones de cancelar y aceptar alineados a la derecha */
.form-submit {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  grid-column: span 4;
  margin-bottom: 20px;
}

.cancel-btn {
  background-color: white;
  border: 2px solid #022c5e;
  color: #022c5e;
  padding: 10px 40px;
  border-radius: 8px;
}

.cancel-btn:hover {
  background-color: #f6f7f9;
}

.accept-btn {
  background-color: #022c5e;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
}

.accept-btn:hover {
  background-color: #011d3e;
}

/* Estilo de los botones cuando están deshabilitados */
.load-buttons-container button:disabled {
  background-color: #d3d3d3;
  color: #808080;
  cursor: not-allowed;
  opacity: 0.6;
}

.load-buttons-container button:disabled:hover {
  background-color: #d3d3d3;
}

/* Estilos responsive */
@media (max-width: 825px) {
  #invoiceForm {
    grid-template-columns: 1fr;
    grid-template-areas:
      "comprobante"
      "fechaEmision"
      "fechaVencimiento"
      "pago"
      "tercero"
      "departamento"
      "municipio"
      "proveedor"
      "impuestos"
      "reteFuente"
      "reteIVA"
      "reteICA"
      "tipoComprobante"
      "formaPago"
      "medioPago"
      "estado"
      "monto"
      "descripcion"
      "valorPagado"
      "observaciones";
    height: auto;
    overflow-y: auto;
  }

  .form-submit {
    justify-content: center;
  }

  .load-buttons-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .file-names {
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .load-buttons-container button {
    padding: 10px;
    font-size: 0.875rem;
  }

  .cancel-btn,
  .accept-btn {
    padding: 10px 20px;
    font-size: 0.875rem;
  }
}
