#background {
  background-image: url("/assets/images/background-login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  padding-bottom: 35px;
}

.login-grid {
  max-width: 1400px;
  margin: auto;
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "primerh2 loginform ."
    ". loginform ."
    ". loginform segundoh2";
  gap: 20px;
}

.login-grid h2:first-of-type {
  grid-area: primerh2;
  text-align: center;
}

#login-form {
  grid-area: loginform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.login-grid h2:last-of-type {
  grid-area: segundoh2;
  text-align: center;
}

/* Estilos adicionales para ajustar el formulario */
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

#login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #022c5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-form input[type="submit"]:hover {
  background-color: #03488f;
}

.login-grid h5,
.login-grid h6 {
  grid-column: 1 / -1;
  text-align: center;
}

form {
  background: linear-gradient(
    to bottom,
    rgba(2, 44, 94, 0.76),
    rgba(38, 191, 115, 0.75)
  );
  padding: 30px 30px 60px 30px;
  border-radius: 5px;
}

#last-text {
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;
  color: #022c5e;
  padding: 40px;
  border-radius: 35px;
}

.password-div {
  display: grid;
  grid-template-columns: repeat(10 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "input-password input-password input-password input-password input-password input-password input-password input-password input-password ."
    "input-password input-password input-password input-password input-password input-password input-password input-password input-password eye"
    "input-password input-password input-password input-password input-password input-password input-password input-password input-password .";
}

.input-password {
  grid-area: input-password;
}

.password-eye {
  grid-area: eye;
  transform: translatex(40%);
}

.spinner {
  margin: 10px 15px 20px 0px;
}

@media screen and (max-width: 840px) {
  #login-form {
    width: 100%;
  }
  .login-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "primerh2"
      "loginform"
      "loginform"
      "segundoh2";
    margin: 0 20% 0 20%;
  }
}

@media screen and (max-width: 610px) {
  .login-grid {
    margin: 0 12% 0 12%;
  }
}
