<div class="go-back-container">
  <button class="go-back" (click)="reloadPage()">
    <i class="bi bi-arrow-left"></i> Volver
  </button>
</div>
<div
  id="invoice-list-container"
  [class.container-disabled]="showForm || isLoading"
>
  <div class="search-section">
    <!-- Primera fila con la barra de búsqueda -->
    <input
      type="text"
      placeholder="Buscar comprobante"
      class="search-input"
      [(ngModel)]="searchQuery"
      (input)="filterInvoices()"
    />

    <!-- Segunda fila con filtros de fecha y botón -->
    <div class="filters-and-button">
      <input
        type="date"
        class="date-input"
        [(ngModel)]="startDate"
        (change)="filterInvoices()"
      />
      <input
        type="date"
        class="date-input"
        [(ngModel)]="endDate"
        (change)="filterInvoices()"
      />

      <button class="add-button" (click)="toggleForm()">
        Ingrese comprobante
      </button>
    </div>
  </div>

  <!-- Agregar el loader -->
  <div *ngIf="isLoading" class="loader-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Mostrar el componente del formulario solo si showForm es true -->
  <div *ngIf="showForm">
    <div class="form-overlay"></div>
    <div class="form-container">
      <button class="close-btn" (click)="toggleForm()">&times;</button>
      <app-invoices-form
        [invoice]="selectedInvoice"
        (formClosed)="handleFormClosed()"
      ></app-invoices-form>
    </div>
  </div>

  <!-- Tabla de facturas filtradas -->
  <table class="invoice-table">
    <thead>
      <tr>
        <th>Nro. Factura</th>
        <th>Emisión / Vto</th>
        <th>Terceros</th>
        <th>Método de pago</th>
        <th>Tipo de factura</th>
        <th>Medio de pago</th>
        <th>Valor pagado</th>
        <th>Total</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of filteredData; let i = index">
        <td>{{ element.invoice }}</td>
        <td>
          {{ element.issue_date | date : "shortDate" }} |
          {{ element.due_date | date : "shortDate" }}
        </td>
        <td class="third-party">{{ element.third_party }}</td>
        <td>{{ element.payment_method }}</td>
        <td>{{ element.invoice_type }}</td>
        <td>{{ element.payment_way }}</td>
        <td>{{ element.paid_value | currency : "COP" : "$" : "1.0-0" }}</td>
        <td>
          {{ element.payment.invoice_total | currency : "COP" : "$" : "1.0-0" }}
        </td>
        <td>
          <!-- Botón de editar para abrir el formulario con los datos de la factura -->
          <button class="edit-button icon-button" (click)="openForm(element)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
              />
            </svg>
          </button>
          <a
            *ngIf="element.url"
            [href]="element.url"
            target="_blank"
            class="icon-button"
          >
            <i class="bi bi-receipt-cutoff"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="go-back-container">
  <button class="go-back" (click)="reloadPage()">
    <i class="bi bi-arrow-left"></i> Volver
  </button>
</div>
