:root {
  --background: #222426;
  --primary: #30b728;
  --primary-hover: #24831f;
  --secondary: rgba(74, 79, 84, 0.9);
  --teriary: #797c7e;
  --white: #eaeaea;
}

* {
  font-family: 'Roboto', sans-serif;
}