<app-heder></app-heder>

<div class="faq-container">
  <div class="faq-title">
    <h1>PREGUNTAS FRECUENTES</h1>
    <span>Estas son algunas de las preguntas más frecuentes</span>
  </div>
  <div class="faq-questions-grill">
    <div class="faq-question-item">
      <h5>¿CÓMO DESCARGAR UN COMPROBANTE?</h5>
      <p>
        Para descargar un comprobante tanto los usuarios deberán estar
        logueados, luego presionar el botón “ALMACEN DE COMPROBANTES” donde le
        mostrará el listado, allí deberá seleccionar el comprobante a descargar
        dando click en el archivo.
      </p>
    </div>
    <div class="faq-question-item">
      <h5>¿CARGAR COMPROBANTES?</h5>
      <p>
        En la ventana de comprobantes se le da click al botón “ADJUNTAR
        COMPROBANTES", aparecerá la ventana donde debe seleccionar el archivo a
        adjuntar. Cabe acotar que el formato en el que deben estar guardados los
        archivos es PDF.
      </p>
    </div>
    <div class="faq-question-item">
      <h5>¿CÓMO MODIFICAR UN COMPROBANTE?</h5>
      <p>
        Para hacer la edición del comprobante el usuario deberá estar logueado,
        hacer la búsqueda del comprobante en el botón “BUSCAR”, seguidamente
        darle click al botón “✏️” se abrirá una ventana con los datos
        registrados del comprobante y podrá hacer la modificación del campo,
        luego dará click en el botón “ACEPTAR”.
      </p>
    </div>
    <div class="faq-question-item">
      <h5>¿QUÉ HAGO SI OLVIDO LA CONTRASEÑA?</h5>
      <p>
        Deberá contactarse por nuestro siguiente correo:
        equipo25-footalentgroup&#64;gmail.com, que de manera inmediata se le
        resolverá su problema.
      </p>
    </div>
    <div class="faq-question-item">
      <h5>¿CÓMO PUEDO AGREGAR UN PROVEEDOR?</h5>
      <p>
        Desde la página principal le dará click en el botón “PROVEEDOR”, seguido
        le aparecerá una ventana donde podrá agendar la información de los
        proveedores, luego dará click en el botón “ACEPTAR".
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
