.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.faq-title {
  width: 40%;
  text-align: center;
  margin-top: 40px; /* Margen top con Header */
}

.faq-title h1 {
  color: #022c5e;
  text-decoration: underline 2.2px;
  text-underline-offset: 6.5px;
}

.faq-title span {
  display: block;
  font-size: 18px;
  font-weight: 200;
  color: black;
}

.faq-questions-grill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  margin-top: 70px; /* Margen top con Title */
  margin-bottom: 40px; /* Margen bot con Footer */
  padding-left: 5%;
  padding-right: 5%;
  gap: 40px;
  width: 100%;
}

.faq-question-item {
  margin: -3px;
}
.faq-question-item h5 {
  color: #022c5e;

  margin: 0 0 18px;
}

@media (max-width: 670px) {
  .faq-questions-grill {
    grid-template-columns: repeat(1, 1fr);
  }
}
